apps/web/src/features/crm/lead/n8n/google-maps-workflow.json
{
  "name": "GIMS - Google Maps Lead Gen (Serper + Code Parser)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gims-leads-google-maps",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "On Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "gims-leads-google-maps"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/maps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "={{ $vars.SERPER_API_KEY || $json.body.serper_api_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.body.keyword + ' in ' + $json.body.city, num: Math.min($json.body.limit || 10, 20) }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "serper-maps-search",
      "name": "Serper Maps Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Map Serper Google Maps results directly to GIMS Lead interface\n// Serper output is already structured — no AI needed\nconst webhookRaw = $('On Webhook Trigger').first().json;\n// n8n Webhook typeVersion 2 wraps payload under .body\nconst webhook = (webhookRaw.body && typeof webhookRaw.body === 'object') ? webhookRaw.body : webhookRaw;\n\nconst places = $input.first().json.places || [];\nconst leadSourceId = webhook.lead_source_id || null;\nconst limit = Math.min(webhook.limit || 10, 20);\n\nconst leads = places.slice(0, limit).map(place => {\n  // Split business name: first word = first_name, rest = last_name\n  const nameParts = (place.title || 'Unknown').split(' ');\n  const firstName = nameParts[0] || 'Unknown';\n  const lastName = nameParts.slice(1).join(' ') || '';\n\n  // Extract city and province from comma-separated address\n  const addressParts = (place.address || '').split(',').map(s => s.trim());\n  const city = addressParts.length >= 2\n    ? addressParts[addressParts.length - 2]\n    : webhook.city || '';\n  const province = addressParts.length >= 1\n    ? addressParts[addressParts.length - 1]\n    : '';\n\n  // Derive email from website domain when available\n  let email = '';\n  if (place.website) {\n    try {\n      const domain = new URL(place.website).hostname.replace('www.', '');\n      email = 'info@' + domain;\n    } catch(e) { /* skip malformed URL */ }\n  }\n\n  return {\n    first_name: firstName,\n    last_name: lastName,\n    company_name: place.title || '',\n    email: email,\n    phone: place.phoneNumber || place.phone || '',\n    job_title: place.type || (place.types && place.types[0]) || '',\n    address: place.address || '',\n    city: city,\n    province: province,\n    lead_source_id: leadSourceId,\n    estimated_value: 0,\n    notes: [\n      `Source: Google Maps`,\n      `Rating: ${place.rating || 'N/A'} (${place.ratingCount || 0} reviews)`,\n      `Category: ${place.type || 'N/A'}`,\n      `Website: ${place.website || 'N/A'}`,\n      `CID: ${place.cid || 'N/A'}`,\n      `Place ID: ${place.placeId || 'N/A'}`,\n      `Keyword: ${webhook.keyword}`,\n      `Scraped: ${new Date().toISOString()}`\n    ].join('\\n')\n  };\n});\n\nreturn [{ json: { leads: leads, source: 'google_maps' } }];"
      },
      "id": "parse-lead-data",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('On Webhook Trigger').first().json.body.erp_base_url || 'http://localhost:8087' }}/api/v1/crm/leads/upsert",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ leads: $json.leads || [] }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "send-to-erp",
      "name": "Send to GIMS ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, source: 'google_maps', keyword: $('On Webhook Trigger').first().json.body.keyword, city: $('On Webhook Trigger').first().json.body.city, erp_result: $json }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "On Webhook Trigger": { "main": [[{ "node": "Serper Maps Search", "type": "main", "index": 0 }]] },
    "Serper Maps Search": { "main": [[{ "node": "Parse Lead Data", "type": "main", "index": 0 }]] },
    "Parse Lead Data": { "main": [[{ "node": "Send to GIMS ERP", "type": "main", "index": 0 }]] },
    "Send to GIMS ERP": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "name": "GIMS", "id": "gims" },
    { "name": "CRM", "id": "crm" },
    { "name": "Lead Generation", "id": "lead-gen" },
    { "name": "AI", "id": "ai" }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "gims-erp",
    "notes": "Serper.dev 2500 free searches/month at serper.dev. No AI/LLM needed — Serper returns structured data parsed directly by Code node. IMPORTANT: Use /webhook/ URL (not /webhook-test/) and Activate the workflow for full execution."
  }
}
