apps/web/src/features/crm/lead/n8n/linkedin-workflow.json
{
  "name": "GIMS - LinkedIn Lead Scraper (Serper Native Parser)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gims-leads-linkedin",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "On Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "gims-leads-linkedin"
    },
    {
      "parameters": {
        "jsCode": "const rawInput = $input.first().json;\nconst input = (rawInput.body && typeof rawInput.body === 'object') ? rawInput.body : rawInput;\nconst searchParams = {\n  q: `site:linkedin.com/in/ \"${input.keyword}\" \"${input.city}\"`,\n  num: Math.min(input.limit || 10, 25)\n};\nreturn [{ json: { ...input, serper_search_params: searchParams } }];"
      },
      "id": "serper-url-gen",
      "name": "Serper Query Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-API-KEY", "value": "={{ $vars.SERPER_API_KEY || $json.serper_api_key }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.serper_search_params) }}",
        "options": { "timeout": 30000 }
      },
      "id": "serper-search",
      "name": "Serper LinkedIn Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const webhookRaw = $('On Webhook Trigger').first().json;\nconst webhook = (webhookRaw.body && typeof webhookRaw.body === 'object') ? webhookRaw.body : webhookRaw;\n\nconst results = $input.first().json.organic || [];\nconst leadSourceId = webhook.lead_source_id || null;\n\nconst leads = results.map(p => {\n  const isCompany = p.link && p.link.includes('/company/');\n  let firstName = 'Unknown';\n  let lastName = '';\n  let companyName = '';\n  let jobTitle = '';\n\n  if (isCompany) {\n    companyName = (p.title || '').replace(' | LinkedIn', '').replace(' - LinkedIn', '').trim();\n    firstName = 'Company';\n  } else {\n    const titleParts = (p.title || '').replace(' | LinkedIn', '').replace(' - LinkedIn', '').split(' - ');\n    const name = titleParts[0] ? titleParts[0].trim() : 'Unknown';\n    const nameParts = name.split(' ');\n    firstName = nameParts[0] || 'Unknown';\n    lastName = nameParts.slice(1).join(' ') || '';\n    \n    jobTitle = titleParts[1] ? titleParts[1].trim() : '';\n    // Use empty string instead of 'Unknown Company' to prevent merging unrelated leads in backend\n    companyName = titleParts.length > 2 ? titleParts.slice(2).join(' ').trim() : titleParts.length === 2 && !titleParts[1].includes(' at ') && !titleParts[1].toLowerCase().includes('freelance') ? titleParts[1].trim() : '';\n  }\n\n  return {\n    first_name: firstName,\n    last_name: lastName,\n    company_name: companyName,\n    email: '',\n    phone: '',\n    job_title: jobTitle,\n    city: webhook.city || '',\n    province: '',\n    lead_source_id: leadSourceId,\n    estimated_value: 0,\n    // Use LinkedIn URL as place_id to guarantee unique deduplication per person\n    place_id: p.link || '',\n    website: p.link || '',\n    notes: [\n      `Source: LinkedIn via Serper Google Search`,\n      `LinkedIn URL: ${p.link || 'N/A'}`,\n      `Headline/Snippet: ${p.snippet || 'N/A'}`,\n      `Keyword: ${webhook.keyword}`\n    ].join('\\n')\n  };\n});\n\nreturn [{ json: { leads: leads, source: 'linkedin' } }];"
      },
      "id": "parse-lead-data",
      "name": "Parse Lead Data Native",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "check-leads",
              "leftValue": "={{ ($json.leads || []).length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-leads",
      "name": "If Leads Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('On Webhook Trigger').first().json.body.erp_base_url || 'http://localhost:8080' }}/api/v1/crm/leads/upsert",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ leads: $json.leads.filter(l => l.first_name && l.first_name !== 'Unknown') }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "add-to-gims",
      "name": "Send to GIMS ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, source: 'linkedin', keyword: $('On Webhook Trigger').first().json.body.keyword, city: $('On Webhook Trigger').first().json.body.city, erp_result: $json }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, source: 'linkedin', message: 'No valid leads returned. Try different keyword or city.', keyword: $('On Webhook Trigger').first().json.body.keyword }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-no-leads",
      "name": "Respond No Leads",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 400]
    }
  ],
  "connections": {
    "On Webhook Trigger": { "main": [[{ "node": "Serper Query Generator", "type": "main", "index": 0 }]] },
    "Serper Query Generator": { "main": [[{ "node": "Serper LinkedIn Search", "type": "main", "index": 0 }]] },
    "Serper LinkedIn Search": { "main": [[{ "node": "Parse Lead Data Native", "type": "main", "index": 0 }]] },
    "Parse Lead Data Native": { "main": [[{ "node": "If Leads Exist", "type": "main", "index": 0 }]] },
    "If Leads Exist": {
      "main": [
        [{ "node": "Send to GIMS ERP", "type": "main", "index": 0 }],
        [{ "node": "Respond No Leads", "type": "main", "index": 0 }]
      ]
    },
    "Send to GIMS ERP": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "name": "GIMS", "id": "gims" },
    { "name": "CRM", "id": "crm" },
    { "name": "Lead Generation", "id": "lead-gen" }
  ],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "gims-erp",
    "notes": "Serper.dev provides 2500 free queries/month - much higher limits for free users than Apollo! Built with native JS mapping for maximum reliability."
  }
}
