apps/web/src/features/crm/lead/n8n/universal-workflow.json
{
  "name": "GIMS - Generate Leads (Universal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gims-generate-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gims-generate-leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-type-linkedin",
              "leftValue": "={{ $json.type }}",
              "rightValue": "linkedin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/anchor~linkedin-people-search-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Webhook Trigger').first().json.apify_api_key || $env.APIFY_API_KEY || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ searchTerms: [$('Webhook Trigger').first().json.keyword + ' ' + $('Webhook Trigger').first().json.city], maxResults: Math.min($('Webhook Trigger').first().json.limit || 10, 25), cookie: $('Webhook Trigger').first().json.linkedin_cookie || '' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "linkedin-search",
      "name": "LinkedIn Search (Apify)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/maps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $('Webhook Trigger').first().json.serper_api_key || $env.SERPER_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $('Webhook Trigger').first().json.keyword + ' in ' + $('Webhook Trigger').first().json.city, num: Math.min($('Webhook Trigger').first().json.limit || 10, 20) }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "google-maps-search",
      "name": "Google Maps Search (Serper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 440]
    },
    {
      "parameters": {
        "jsCode": "// Map LinkedIn (Apify) results to GIMS Lead interface\nconst webhookData = $('Webhook Trigger').first().json;\nconst results = $input.all().map(i => i.json);\nconst leadSourceId = webhookData.lead_source_id || null;\nconst limit = webhookData.limit || 10;\n\nconst leads = results.slice(0, limit).map(person => {\n  const firstName = person.firstName || person.first_name || (person.fullName || 'Unknown').split(' ')[0] || 'Unknown';\n  const lastName = person.lastName || person.last_name || (person.fullName || '').split(' ').slice(1).join(' ') || '';\n  \n  return {\n    first_name: firstName,\n    last_name: lastName,\n    company_name: person.companyName || person.company || '',\n    email: person.email || '',\n    phone: person.phone || person.phoneNumber || '',\n    job_title: person.title || person.headline || person.position || '',\n    address: person.location || person.address || '',\n    city: webhookData.city || (person.location || '').split(',')[0]?.trim() || '',\n    province: (person.location || '').split(',').slice(1).join(',').trim() || '',\n    lead_source_id: leadSourceId,\n    estimated_value: 0,\n    notes: [\n      `Source: LinkedIn`,\n      `Profile: ${person.profileUrl || person.url || 'N/A'}`,\n      `Headline: ${person.headline || person.title || 'N/A'}`,\n      `Company: ${person.companyName || person.company || 'N/A'}`,\n      `Keyword: ${webhookData.keyword}`,\n      `Scraped: ${new Date().toISOString()}`\n    ].join('\\n')\n  };\n});\n\n// Filter leads that have email (required for deduplication)\nconst validLeads = leads.filter(l => l.email && l.email.length > 0);\n\nreturn [{ json: { leads: validLeads, source: 'linkedin' } }];"
      },
      "id": "map-linkedin",
      "name": "Map LinkedIn Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 160]
    },
    {
      "parameters": {
        "jsCode": "// Map Serper Google Maps results to GIMS Lead interface\nconst webhookData = $('Webhook Trigger').first().json;\nconst places = $input.first().json.places || [];\nconst leadSourceId = webhookData.lead_source_id || null;\nconst limit = webhookData.limit || 10;\n\nconst leads = places.slice(0, limit).map(place => {\n  const nameParts = (place.title || 'Unknown').split(' ');\n  const firstName = nameParts[0] || 'Unknown';\n  const lastName = nameParts.slice(1).join(' ') || '';\n  \n  const addressParts = (place.address || '').split(',').map(s => s.trim());\n  const city = addressParts.length >= 2 ? addressParts[addressParts.length - 2] : webhookData.city || '';\n  const province = addressParts.length >= 3 ? addressParts[addressParts.length - 1] : '';\n  \n  // Build email from domain if available\n  let email = '';\n  if (place.website) {\n    try {\n      const domain = new URL(place.website).hostname.replace('www.', '');\n      email = 'info@' + domain;\n    } catch(e) { /* no valid URL */ }\n  }\n  \n  return {\n    first_name: firstName,\n    last_name: lastName,\n    company_name: place.title || '',\n    email: email,\n    phone: place.phoneNumber || place.phone || '',\n    job_title: place.category || '',\n    address: place.address || '',\n    city: city,\n    province: province,\n    lead_source_id: leadSourceId,\n    estimated_value: 0,\n    notes: [\n      `Source: Google Maps`,\n      `Rating: ${place.rating || 'N/A'} (${place.ratingCount || 0} reviews)`,\n      `Category: ${place.category || 'N/A'}`,\n      `Website: ${place.website || 'N/A'}`,\n      `CID: ${place.cid || 'N/A'}`,\n      `Keyword: ${webhookData.keyword}`,\n      `Scraped: ${new Date().toISOString()}`\n    ].join('\\n')\n  };\n});\n\n// Filter leads that have email (required for deduplication)\nconst validLeads = leads.filter(l => l.email && l.email.length > 0);\n\nreturn [{ json: { leads: validLeads, source: 'google_maps' } }];"
      },
      "id": "map-google-maps",
      "name": "Map Google Maps Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 440]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-leads-exist",
              "leftValue": "={{ $json.leads.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-valid-leads",
      "name": "Has Valid Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook Trigger').first().json.erp_base_url || 'http://localhost:8080' }}/api/v1/crm/leads/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $('Webhook Trigger').first().json.auth_cookie || '' }}"
            },
            {
              "name": "X-CSRF-Token",
              "value": "={{ $('Webhook Trigger').first().json.csrf_token || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ leads: $json.leads }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "send-to-erp",
      "name": "Send to GIMS ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, source: $('Webhook Trigger').first().json.type, keyword: $('Webhook Trigger').first().json.keyword, city: $('Webhook Trigger').first().json.city, erp_result: $json }) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, source: $('Webhook Trigger').first().json.type, message: 'No leads with valid email found from scraping. For Google Maps results, emails are derived from website domains. For LinkedIn, email availability depends on public profile data.', keyword: $('Webhook Trigger').first().json.keyword, city: $('Webhook Trigger').first().json.city }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-no-leads",
      "name": "Respond No Valid Leads",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "LinkedIn Search (Apify)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Maps Search (Serper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Search (Apify)": {
      "main": [
        [
          {
            "node": "Map LinkedIn Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps Search (Serper)": {
      "main": [
        [
          {
            "node": "Map Google Maps Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map LinkedIn Data": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Google Maps Data": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Has Valid Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid Leads?": {
      "main": [
        [
          {
            "node": "Send to GIMS ERP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Valid Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to GIMS ERP": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GIMS",
      "id": "gims"
    },
    {
      "name": "CRM",
      "id": "crm"
    },
    {
      "name": "Lead Generation",
      "id": "lead-gen"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "gims-erp"
  }
}
